
//
//  =========================================================
//  Page About
//  =========================================================
//

.container_page.about {

	.bg_page {
		background: #fff;
	}

	.content {
		color: #000;

		.row {
			width: auto;
			height: 100vh;
			display: flex;
			margin: 0 auto;

			.columns {
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: left;
			}
		}
	}
}
