
//
//  =========================================================
//  Pages Authentification
//  =========================================================
//

.container_page.login,
.container_page.password,
.container_page.register, {

	.bg_page {
		background: #fff;
	}

	.content {
		color: #000;

		.row {
			width: auto;
		    height: 100vh;
			display: flex;
		    margin: 0 auto;

			.columns {
				display: flex;
  				justify-content: center;
				flex-direction: column;
				text-align: left;

				.panel {
					&-heading {
						font-weight: bold;
						padding: 15px;
					}
				}
			}
		}
	}
}
