
//
//  =========================================================
//  Page Home
//  =========================================================
//

.container_page.home {

	.bg_page {
		background: #000;

		.trame {
			width: 100%;
			height: 100%;
			background-image: url(../img/trame.png);
			background-repeat: repeat;
			position: fixed;
			z-index: 10;
		}

		.gradient {
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
			position: absolute;
			z-index: 12;
			display: none;
		}
	}

	.content {
		color: #fff;

		.row {
			display: block;
			position: absolute;
			transform: translate(-50%, -100%);
			left: 50%; top: 50%;

			.columns {
				.bg_logo {
					width: 160px;
					height: 160px;
					//background-image: url(../img/trame-bis.png);
					//background-repeat: repeat;
					margin: -180px 0 0 -80px;
					position: absolute;
					left: 50%;

					.logo {
						width: 160px;
						height: 160px;
						@include background_cover();
						background-image: url(../img/logo.png);
					}
				}

				.text {
					height: get-vw(100px);
					text-align: left;
					font-family: 'Roboto';
					line-height: get-vw(46px);
					text-transform: uppercase;
					background-image: url(../img/trame-bis.png);
					background-repeat: repeat;
					//background: rgba(255, 255, 255, .4);
					//border-top: get-vw(3px) solid white;
					//border-bottom: get-vw(3px) solid white;
					@include user-select(none);
					@include transition(background .4s ease-in-out);
					//cursor: pointer;
					padding: get-vw(6px);
					//padding-left: get-vw(100px);
					//border: 1px solid white;


					.therefore, .because {
						font-size: get-vw(36px);
					}

					.title {
						font-size: get-vw(46px);
						font-weight: bold;
					}

					.caption {
						font-size: get-vw(36px);
					}
				}

				.text:hover {
					//background: rgba(255, 255, 255, .2);
				}
			}
		}

		.crevoux {
			width: get-vw(118px);
			height: get-vw(80px);
			@include background_cover();
			background-image: url(../img/crevoux.png);
			position: absolute;
			display: block;
			bottom: 10px;
			right: 10px;
		}

	}
}
