
//
//  =========================================================
//  Page About
//  =========================================================
//

.container_page.location {

	.bg_page {
		background: #fff;
	}

	.content {
		color: #000;

		.text {
			width: auto;
			height: 50vh;
			overflow-y: auto;

			.row {
				width: auto;
				height: 50vh;
				display: flex;
				margin: 0 auto;
				padding: 20px;

				.columns {
					display: flex;
					justify-content: left;
					flex-direction: column;
					text-align: left;

					h1 { @include vw(32px); text-align: center; padding: 20px 0; }
					h4 { @include vw(18px); }
					p { @include vw(12px); }
					div { @include vw(13px); }
					strong { @include vw(13px); }
				}
			}
		}

		.maps {
			width: 100%;
			height: 50%;
			position: absolute;
			z-index: 20;
			bottom: 0;
			left: 0;
		}
	}
}
