/.idea
/.vscode
/.vagrant

/node_modules
/public/hot
/public/storage
/resources/assets/img/avatar
/resources/assets/img/pack
/resources/assets/psd
/storage/*.key
/vendor

Homestead.json
Homestead.yaml
Vagrantfile

after.sh
aliases

npm-debug.log
yarn-error.log

.DS_Store
.env
