
//
//  =========================================================
//  Carousel
//  =========================================================
//

.carousel {
    .carousel-inner {
        .carousel-item {
            opacity: 0;
            position: fixed;
            width: 100%; height: 100%;
            @include transition(opacity .8s);
        }

        .active {
            opacity: 1;
        }

        .active.left,
        .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .next.left,
        .prev.right {
            opacity: 1;
        }
    }
}

$carousel: 3;

@for $i from 1 through $carousel {
    .carousel-item:nth-child(#{$i}) {
        @include background_cover();
        background-image: url(../img/carousel/carousel_0#{$i}.jpg);
    }
}
