
//
//  =========================================================
//  Functions
//  =========================================================
//

$min-breakpoint: 767;
$max-breakpoint: 1280;
$med-breakpoint: 680;

$wide-screen: "(max-width: #{$max-breakpoint}px)";
$small-screen: "(max-width: #{$min-breakpoint}px)";
$narrow-screen: "(max-height: #{$med-breakpoint}px)";
$landscape-screen: "(orientation: landscape)";

@function get-vw($target) {
  $vw-context: ($max-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vh($target) {
  $vh-context: ($max-breakpoint * .01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@mixin vw($size) {
  font-size: get-vw($size);
  @media #{$wide-screen} {
    font-size: $size;
  }
}
