
//
//  =========================================================
//  Layout
//  =========================================================
//

html, body {
    height: 100%;
    //overflow: hidden;
    font-family: 'NeueHaasGrotDisp-55Roman', arial;
    background: #fff;
    color: #000;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    color: inherit;
    text-decoration: none;
    &:active {
        color: inherit;
        text-decoration: none;
    }
    &:focus {
        color: inherit;
        text-decoration: none;
    }
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}

#wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    .pt-perspective {
        position: relative;
        width: 100%;
        height: 100%;
        //perspective: 1200px;

        .pt-page {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            overflow: hidden;
            //@include force_hardware_acceleration();

            &.pt-page-current, &.no-js .pt-page {
                visibility: visible;
                z-index: 1;
            }

            .container_page {
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                position: absolute;
                overflow: hidden;

                .bg_page {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    left: 0;
                    top: 0;
                }
            }

            .content_scroll {
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                position: absolute;
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
            }
        }
    }

    .no-js body {
        overflow: auto;
    }

    .pt-page-ontop {
        z-index: 999;
    }
}
